body{
    margin: 0;
}
.imgBox{
    height: 450px;
    width: 100%;
}

/*Top section*/
.topSection{
    position: absolute;
    top: 80px;
    width: 100%;
    text-align: center;
}
.logo{
    width: 99px;
    height: 99px;
    margin: auto;
    padding: 24px;
    border: solid 1px #707070;
    background-color: #fff;
    border-radius: 50%;
    font-family: Poppins;
    font-size: 70px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 99px;
    letter-spacing: normal;
    color: #eb2929;
}
.headerText{
    height: 51px;
    font-family: Poppins;
    font-size: 36px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.53;
    letter-spacing: normal;
    color: #fff;
    margin-top: 20px;
}   
.searchOptions{
    margin-top: 30px;
}
.locationBox{
    width: 245px;
    height: 45px;
    margin: 0 21px 0 0;
    padding: 10px;
    background-color: #fff;
    font-size: 18px;
}
.searchBox{
    position: relative;
}
.searchIcon{
    position: absolute;
    top: 0;
    left: 30px;
}
.searchInput{
    width: 477px;
    height: 45px;
    margin: 0 0 0 21px;
    padding: 10px;
    background-color: #fff;
    padding-left: 30px;
    font-size: 18px;
}
.bottomSection{
    margin: 50px 80px 80px 80px;
}
.qs-heading{
    height: 43px;
    font-family: Poppins;
    font-size: 30px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.53;
    letter-spacing: normal;
    text-align: left;
    color: #192f60;
}
.qs-subheading{
    height: 25px;
    font-family: Poppins;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #8c96ab;
}
.qs-boxes-container{
    margin-top: 30px;
}
.qs-box{
    display:inline-block;
    width: 33%;
}
.qs-box-contents{ 
    height: 160px;
    box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%);
    background-color: #fff;
    margin-right: 30px;   
    margin-bottom: 30px;
    position: relative;
}
.qs-img{
    width: 160px;
    height: 160px;
    margin: 0 29px 0 0;
}
.qs-item-heading{
    position:absolute;
    top: 0px;
    left: 190px;
    height: 25px;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #192f60;
}
.qs-item-description{
    position:absolute;
    top: 50px;
    left: 190px;
    max-width: 190px;
    font-family: Poppins;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #03112f;
}
@media (max-width: 1136px) {
    .qs-item-description{
        max-width: 150px;
        left: 170px;
        top: 30px;
    }
    .qs-item-heading{
        left: 170px;
    }
}
@media (max-width: 920px){
    .qs-box{
        width: 49.5%;
    }
    .qs-item-description{
        width: 140px;
        left: 180px;
        top: 50px;
    }
    .qs-item-heading{
        left: 180px;
    }
}


