.mainbox{
    border: 2px solid red;
    height: 400px;
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    overflow-y: auto;
}
.mainbox > div {
    flex: 1;
    border: 2px solid dodgerblue;
    padding: 8.5rem;
    min-width: 200px;
}
.addressBox{
    padding: 8.5rem;
    border: 2px solid green;
}
