.imageDiv{
    height: 450px;
    background-color: aquamarine;
    background-image: url('./2.jpg');
    background-size: 100%;
    background-position: fixed;
}
.navbar {
    background-color: red;
    height: 80px;
}
.nb-box{
    border: 2px solid black;
    height: 76px;
    width: 80%;
    margin: auto;
    text-align: right;
    line-height: 80px;
}
.loginButton{
background-color: transparent;
color: white;
border: none;
}
.createButton{
background-color: transparent;
color: white;
border: 1px solid white;
padding: 10px;
margin-left: 15px;
margin-right: 15px;
}
